# Entorno Python
.venv/
__pycache__/
*.pyc

# Variables sensibles
.env

# Datos grandes (no subir el CSV original)
data/raw/*.csv

# Logs
*.log
node_modules

# added by cds
.cdsrc-private.json
node_modules
node_modules
node_modules
node_modules
